.app-default {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 320ms cubic-bezier(.4, 0, .6, 1) 16ms;
}

.app-hide {
    opacity: 0;
    transition: opacity 320ms cubic-bezier(.4, 0, .6, 1) 0ms;
}

#godHandle {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -60px;
    display: block;
    width: 120px;
    height: 4px;
    background-color: ${godInfo.theme.primaryColor};
    overflow: hidden;
    border-radius: 4px;
    z-index: 10000;
    cursor: pointer;
}

#godHandle:active {
    background-color: ${godInfo.theme.basicFtColor};
}

.god-handle-default {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    transition: opacity .32s cubic-bezier(.4, 0, .6, 1) 0s, transform .32s cubic-bezier(.4, 0, .6, 1) 0s;
}

.god-handle-show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: opacity .32s cubic-bezier(.4, 0, .6, 1) .32s, transform .32s cubic-bezier(.4, 0, .6, 1) .32s;
}

#loadingElement {
    display: none;
}

div.loading-show {
    display: block !important;
}

/* 环形加载动画 */
.page-progress {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 16px;
}

.page-progress.large {
    width: 96px;
    height: 96px;
    margin-top: -48px;
    margin-left: -48px;
}

.page-progress.circles {
    background-color: transparent;
    border: none;
}

.page-progress.circles .circle {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    left: 0px;
    padding: 18px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    animation: circles 4.125s ease-in-out infinite;
}

.page-progress.circles .circle::after {
    background-color: ${godInfo.theme.primaryColor};
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
}

.page-progress.circles :nth-child(1).circle {
    animation-delay: 0s;
}

.page-progress.circles :nth-child(2).circle {
    animation-delay: 0.126s;
}

.page-progress.circles :nth-child(3).circle {
    animation-delay: 0.252s;
}

.page-progress.circles :nth-child(4).circle {
    animation-delay: 0.387s;
}

.page-progress.circles :nth-child(5).circle {
    animation-delay: 0.504s;
}

.page-progress.circles :nth-child(6).circle {
    animation-delay: 0.63s;
}

@keyframes circles {
    0%{transform: rotate(-180deg);
        opacity: 0
    }
    13% {
        opacity: 0
    }
    26% {
        opacity: 1
    }
    74% {
        opacity: 1
    }
    87% {
        opacity: 0
    }
    100% {
    transform: rotate(585deg);
        opacity: 0
    }
}

#godPanel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#godPanel .primary-color {
    color: ${godInfo.theme.primaryColor};
}

div.god-panel-default {
    transform: translate3d(0, -100%, 0) scale3d(0.5, 0.5, 1);
    opacity: 0;
    transition: opacity .32s cubic-bezier(.4, 0, .6, 1) 0ms, transform .32s cubic-bezier(.4, 0, .6, 1) 0ms;
}

div.god-panel-show {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

#godPanel > #godBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('${godInfo.theme.backgroundImage}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#godPanel > #godContentPanel {
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    position: absolute;
    background-color: ${godInfo.theme.panelColor};
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#godPanel #godPanelHeader {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    flex: 0 0 40px;
    position: relative;
}

#godPanel #godPanelHeader button#closeButton {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    overflow: hidden;
    border: 0;
    border-radius: 50%;
    top: 14px;
    right: 14px;
    background-color: rgb(196, 35, 24);
}

#godPanel #godPanelHeader button#closeButton:active {
    background-color: rgb(148, 22, 13);
}

#godPanel .god-text {
    font-size: 16px;
}

#godPanel #godPanelContainer {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
}

#godPanel #godMenuPanel {
    flex: 0 0 240px;
    height: 100%;
    overflow: auto;
}

#godPanel #godMenuPanel dl {
    width: 100%;
    height: auto;
    min-height: 0;
}

#godPanel #godMenuPanel dt {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
}

#godPanel #godMenuPanel dt b {
    display: block;
    position: absolute;
    overflow: hidden;
    border-radius: 4px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: ${godInfo.theme.menuItemHoverColor};
    opacity: 0;
    transition: opacity 240ms cubic-bezier(.4, 0, .6, 1) 0ms;
    cursor: pointer;
}

#godPanel #godMenuPanel dt u {
    text-decoration: none;
    position: absolute;
    display: block;
}

#godPanel #godMenuPanel dt:hover b {
    opacity: 1;
}

#godPanel #godMenuPanel dt.menu-item-selected > b {
    background-color: ${godInfo.theme.menuItemSelectedColor} !important;
    opacity: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

#godPanel #godMenuPanel dt i {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: ${godInfo.theme.menuItemIconBgColor};
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 50%;
}

#godPanel #godMenuPanel dt span {
    font-size: 14px;
}

#godPanel #godMenuPanel dt .extend-button {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    vertical-align: top;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    text-align: center;
    transition: background-color .24s cubic-bezier(.4, 0, .6, 1) 0ms, transform .24s cubic-bezier(.4, 0, .6, 1) 0ms;
    cursor: pointer;
    transform: rotate3d(0, 0, -1, 0deg);
}

#godPanel #godMenuPanel dt .extend-button::after {
    content: "";
    width: 14px;
    height: 14px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: top;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E %3Cpath fill='%23000' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E %3C/svg%3E") center no-repeat;
}

#godPanel #godMenuPanel dt .extend-button:hover {
    background-color: rgba(255, 255, 255, .4);
}

#godPanel #godMenuPanel dt .extend-button:active {
    background-color: rgba(255, 255, 255, .8);
}

#godPanel #godMenuPanel dt .extend-button-up {
    transform: rotate3d(0, 0, -1, 180deg);
}

#godPanel #godMenuPanel dd {
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all .32s cubic-bezier(.4, 0, .6, 1) 0ms;
}

#godPanel #godMenuPanel dd.submenu-opend {
    grid-template-rows: 1fr;
}

#godPanel #godDetailPanel {
    flex: auto;
    background-color: rgba(255, 255, 255, .7);
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#godPanel #godDetailPanel .content-panel {
    flex: 1 1 auto;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#godPanel #godDetailPanel .content-panel-actived {
    opacity: 1;
    transition: opacity .24s cubic-bezier(.4, 0, .6, 1) 0ms;
}

#godPanel #godDetailPanel .content-panel-disabled {
    opacity: .2;
}

#godPanel #godDetailPanel section.title-panel {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: none;
    overflow: hidden;
}

#godPanel #godDetailPanel h1 {
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    flex: auto 0 0;
}

#godPanel #godDetailPanel p {
    line-height: 1.2em;
    margin: 0;
    padding: 5px 0 5px 0;
    flex: auto;
    opacity: .6;
}

#godPanel #godDetailPanel section.button-panel {
    flex: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

#godPanel #godDetailPanel .label-text {
    line-height: 32px;
    color: ${godInfo.theme.primaryColor};
}

#godPanel #godDetailPanel .required-star {
    line-height: 32px;
    color: ${godInfo.theme.starColor};
    margin-left: 5px;
}

#godPanel #godDetailPanel input,
#godPanel #godDetailPanel select {
    box-sizing: border-box;
    width: 200px;
    height: 32px;
    line-height: 32px;
    border: solid 1px #666;
    border-radius: 8px;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
}

#godPanel #godDetailPanel textarea {
    box-sizing: border-box;
    width: 200px;
    min-height: 128px;
    line-height: 24px;
    border: solid 1px #666;
    border-radius: 8px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: auto;
    outline: none;
}

#godPanel #godDetailPanel input:focus,
#godPanel #godDetailPanel select:focus,
#godPanel #godDetailPanel textarea:focus {
    border-color: ${godInfo.theme.primaryColor};
}

#godPanel #godDetailPanel input[type=file] {
    top: -40px;
    left: -300px;
    position: absolute;
}

#godPanel #godDetailPanel input[type=checkbox] {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: solid 1px #666;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    vertical-align: text-top;
    background-color: ${godInfo.theme.basicBgColor};
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#godPanel #godDetailPanel input[type=checkbox]:checked {
    background-color: ${godInfo.theme.primaryColor};
    border-color: ${godInfo.theme.primaryColor};
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDogMTJweDsgaGVpZ2h0OiAxMnB4OyIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgdmVyc2lvbj0iMS4xIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNIDk1NC44NTcgMzIzLjQyOSBxIDAgMjIuODU3MSAtMTYgMzguODU3MSBsIC00MTMuNzE0IDQxMy43MTQgbCAtNzcuNzE0MyA3Ny43MTQzIHEgLTE2IDE2IC0zOC44NTcxIDE2IHQgLTM4Ljg1NzEgLTE2IGwgLTc3LjcxNDMgLTc3LjcxNDMgbCAtMjA2Ljg1NyAtMjA2Ljg1NyBxIC0xNiAtMTYgLTE2IC0zOC44NTcxIHQgMTYgLTM4Ljg1NzEgbCA3Ny43MTQzIC03Ny43MTQzIHEgMTYgLTE2IDM4Ljg1NzEgLTE2IHQgMzguODU3MSAxNiBsIDE2OCAxNjguNTcxIGwgMzc0Ljg1NyAtMzc1LjQyOSBxIDE2IC0xNiAzOC44NTcxIC0xNiB0IDM4Ljg1NzEgMTYgbCA3Ny43MTQzIDc3LjcxNDMgcSAxNiAxNiAxNiAzOC44NTcxIFoiIHAtaWQ9IjU3MjAiIC8+PC9zdmc+");
}

#godPanel #godDetailPanel .checkbox-text {
    line-height: 1.2em;
    font-size: 14px;
}

#godPanel #godDetailPanel div.checkbox-panel {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 10px 10px;
    align-items: start;
    width: 100%;
    height: auto;
}

#godPanel #godDetailPanel label.label-file {
    display: block;
    width: 200px;
    height: 32px;
    background-color: ${godInfo.theme.buttonBgColor};
    color: ${godInfo.theme.primaryColor};
    overflow: hidden;
    border-radius: 8px;
    border: none;
    text-align: center;
    line-height: 32px;
    position: relative;
}

#godPanel #godDetailPanel label.label-file:hover {
    background-color: ${godInfo.theme.primaryColor};
    color: ${godInfo.theme.basicBgColor};
}

#godPanel #godDetailPanel label.label-file:active {
    background-color: ${godInfo.theme.buttonActiveBgColor};
    color: ${godInfo.theme.basicBgColor};
}

#godPanel #godDetailPanel button {
    min-width: 100px;
    height: 32px;
    background-color: ${godInfo.theme.buttonBgColor};
    color: ${godInfo.theme.primaryColor};
    overflow: hidden;
    border-radius: 8px;
    border: none;
    padding: 0 8px 0 8px;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 12px;
}

#godPanel #godDetailPanel button:first-child {
    margin-left: 0;
}

#godPanel #godDetailPanel button:hover {
    background-color: ${godInfo.theme.primaryColor};
    color: ${godInfo.theme.basicBgColor};
}

#godPanel #godDetailPanel button:active {
    background-color: ${godInfo.theme.buttonActiveBgColor};
    color: ${godInfo.theme.basicBgColor};
}

#godPanel #godDetailPanel section.body-panel {
    flex: auto;
    display: flex;
    flex-direction: row;
    border: solid 1px ${godInfo.theme.primaryColor};
    border-radius: 6px;
    overflow: hidden;
}

#godPanel #godDetailPanel section.form-panel {
    flex: 0 0 auto;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: solid 1px ${godInfo.theme.primaryColor};
    overflow: auto;
}

#godPanel #godDetailPanel .form-list {
    width: auto;
    height: auto;
    flex: none;
    min-height: 90%;
    max-width: 220px;
    margin: 0;
    padding: 0;
}

#godPanel #godDetailPanel .form-list li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}

#godPanel #godDetailPanel .form-list li:first-child {
    margin: 20px 0 10px 0;
}

#godPanel #godDetailPanel section.result-panel {
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
}

#godPanel #godDetailPanel section.result-panel a {
    color: ${godInfo.theme.primaryColor};
    text-decoration: none;
}

#godPanel #godDetailPanel section.result-panel a:hover {
    text-decoration: underline;
}

#godPanel #godDetailPanel div.result-title {
    flex: 1 1 100%;
    height: 32px;
    line-height: 32px;
    margin-top: 10px;
}

#godPanel #godDetailPanel div.result-title span {
    margin-left: 6px;
    color: ${godInfo.theme.primaryColor};
}

#godPanel #godDetailPanel .result-title-marker {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    width: 6px;
    height: 6px;
    overflow: hidden;
    border-radius: 50%;
    background-color: ${godInfo.theme.primaryColor};
    margin-left: 10px;
}

#godPanel #godDetailPanel div.result-content {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#godPanel #godDetailPanel div.result-item-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#godPanel #godDetailPanel div.result-item {
    width: auto;
    height: 40px;
    background-color: ${godInfo.theme.basicBgColor};
    border-radius: 6px;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#godPanel #godDetailPanel div.result-item label {
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
    flex: none;
}

#godPanel #godDetailPanel div.result-item .before::before {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
    flex: none;
}

#godPanel #godDetailPanel div.result-item span {
    line-height: 40px;
    flex: none;
}

#godPanel #godDetailPanel .result-content-panel {
    width: calc(100% - 20px);
    height: auto;
    margin: 10px auto 10px auto;
    border-radius: 6px;
    overflow: hidden;
}

#godPanel #godDetailPanel .result-content-border {
    border: solid 1px ${godInfo.theme.primaryColor};
}

#godPanel #godDetailPanel .table-view {
    table-layout: fixed;
    width: 100% ;
    border-spacing: 0;
    border-collapse: collapse;
}

#godPanel #godDetailPanel .table-view-row {
    transition: background-color 240ms cubic-bezier(.4, 0, .6, 1) 0ms;
}

#godPanel #godDetailPanel .table-view-row:hover {
    background-color: ${godInfo.theme.basicBgColor};
    color: ${godInfo.theme.primaryColor};
}

#godPanel #godDetailPanel .table-view-th,
#godPanel #godDetailPanel .table-view-td {
    padding: 0 5px 0 5px;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    border-bottom: solid 1px ${godInfo.theme.primaryColor};
    border-right: solid 1px ${godInfo.theme.primaryColor};
}

#godPanel #godDetailPanel .table-view-th {
    color: ${godInfo.theme.primaryColor};
    background-color: ${godInfo.theme.basicBgColor};
    font-weight: bold;
}

#godPanel #godDetailPanel .table-view-th:last-child,
#godPanel #godDetailPanel .table-view-td:last-child {
    border-right: none 0;
}

#godPanel #godDetailPanel .table-view-row:last-child .table-view-td {
    border-bottom: none 0;
}

#godPanel #godDetailPanel .image-view {
    width: 100%;
    vertical-align: top;
}